:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: rgba(255, 255, 255, 0.87);
    background-color:  rgb(18, 18, 18);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --theme-color: #7ee777;
    --theme-color-darker: #508050;
    --hover-color: #6360de;
    --default-background: #333;
}

h2 {
    font-size: 2em;
    line-height: 3em;
    color: var(--theme-color);
}

a {
  text-decoration: none;
}
